@model int
<div id="Botonera">
    <button type="button" class="btn btn-light h-100 m-1" onclick="SetMeteoble()"><i class="fas fa-thermometer-three-quarters fa-2x" title="Predición 4d" aria-hidden="true"></i>&nbsp; Predicción 4D </button>
    <button type="button" class="btn btn-light h-100 m-1" onclick="SetMapa()"><i class="fas fa-wind fa-2x" title="Mapa Vientos" aria-hidden="true"></i>&nbsp; Mapa Vientos</button>
</div>
<div id="dvMeteo">
    <div class="loaderCenter">
        <span class="loadingText">Cargando....</span>
    </div>
</div>
<script type="text/javascript">
    function SetMeteoble()
    {
        $.ajax
            ({
                url: "/Home/GetMeteoblue3h",
                contentType: "application/html; charset=utf-8",
                data: {id:@Model},
            type: "GET",
            cache: !0,
            datatype: "html",
            success: function(t)
            {
                $("#dvMeteo").html(t)
            },
            error: function()
            {
                $("#dvMeteo").html("Datos no encontrados")
            }
        })
    }
    function SetMapa()
    {
        $.ajax
            ({
                url: "/Home/GetMeteoblueMapa",
                contentType: "application/html; charset=utf-8",
                data: {id:@Model},
            type: "GET",
            cache: !0,
            datatype: "html",
            success: function(t)
            {
                $("#dvMeteo").html(t)
            },
            error: function()
            {
                $("#dvMeteo").html("Datos no encontrados")
            }
        })
    }
    function SetAEMET()
    {
        $.ajax
            ({
                url: "/Home/GetAEMET",
                contentType: "application/html; charset=utf-8",
                data: {id:@Model},
            type: "GET",
            cache: !0,
            datatype: "html",
            success: function(t)
            {
                $("#dvMeteo").html(t)
            },
            error: function()
            {
                $("#dvMeteo").html("Datos no encontrados")
            }
        })
    }
</script>