@model int
<div id="Botonera" class="h-25">
    <button type="button" class="btn btn-light w-25 h-100 m-1" onclick="SetMeteoble()"><h5><i class="fas fa-thermometer-three-quarters fa-lg" aria-hidden="true"></i> Predicción </h5> </button>
    <button type="button" class="btn btn-light w-25 h-100 m-1" onclick="SetMapa()"><h5><i class="fas fa-wind fa-lg" aria-hidden="true"></i> Vientos </h5> </button>
</div>
<br />
<div id="dvMeteo">
    <div class="loaderCenter">
        <span class="loadingText">Cargando....</span>
    </div>
</div>
<br />
<script type="text/javascript">
    function SetMeteoble()
    {
        $.ajax
            ({
                url: "/Home/GetMeteoblue3h",
                contentType: "application/html; charset=utf-8",
                data: {id:@Model},
            type: "GET",
            cache: !0,
            datatype: "html",
            success: function(t)
            {
                $("#dvMeteo").html(t)
            },
            error: function()
            {
                $("#dvMeteo").html("Datos no encontrados")
            }
        })
    }
    function SetMapa()
    {
        $.ajax
            ({
                url: "/Home/GetMeteoblueMapa",
                contentType: "application/html; charset=utf-8",
                data: {id:@Model},
            type: "GET",
            cache: !0,
            datatype: "html",
            success: function(t)
            {
                $("#dvMeteo").html(t)
            },
            error: function()
            {
                $("#dvMeteo").html("Datos no encontrados")
            }
        })
    }
    function SetAEMET()
    {
        $.ajax
            ({
                url: "/Home/GetAEMET",
                contentType: "application/html; charset=utf-8",
                data: {id:@Model},
            type: "GET",
            cache: !0,
            datatype: "html",
            success: function(t)
            {
                $("#dvMeteo").html(t)
            },
            error: function()
            {
                $("#dvMeteo").html("Datos no encontrados")
            }
        })
    }
</script>