@model RutotecaWeb.Models.RutaDTO
<script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(LoadPerfil);

    function LoadPerfil()
    {
        $.ajax
            ({
                url: "/Home/GetAltimetrias",
                contentType: "application/html; charset=utf-8",
                data: {id:@Model.Id},
            type: "GET",
            //cache: !0,
            datatype: "html",
            success: function(t)
            {
                if (t != "NoData") {
                    var data = google.visualization.arrayToDataTable(t);
                    google.charts.load("current", {packages:["corechart"]});
                    var options = {
                        height: 300,
                        legend: 'none',
                        colors: ['green', 'blue', 'red', 'black', 'yellow', 'gray']
                    };
                    
                    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
                    chart.draw(data, options);
                }
                else
                    document.getElementById('chart_div').style.display = "none";
            },
            error: function(e)
            {
                document.getElementById('chart_div').style.display = "none";
            }
        })
    }

</script>
<div id="chart_div" class="d-block mw-100" style="height: 400px;">Cargando perfil...</div>

