@model RutotecaWeb.Models.TagDTO

<h1>
    @Html.DisplayFor(model => model.Nombre)
</h1>
<h6>
    @Html.DisplayFor(model => model.DescripcionCorta)
</h6>
<div id="dvRelacionadosPostBind">
    <div class="loaderCenter">
        <span class="loadingText">Buscando relacionados....</span>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    function LoadRelacionados()
    {
        $.ajax
            ({
                url: "/Home/GetRutasEnTag",
                contentType: "application/html; charset=utf-8",
                data: {id:@Model.IdElemento},
            type: "GET",
            //cache: !0,
            datatype: "html",
            success: function(t)
            {
                $("#dvRelacionadosPostBind").html(t)
            },
            error: function()
            {
                $("#dvRelacionadosPostBind").html("Datos no encontrados")
            }
        })
    }

    $(document).ready(function()
    {
        LoadRelacionados();
    });
</script>
