<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BaseEntities" connectionString="metadata=res://*/Data.BaseDataModel.csdl|res://*/Data.BaseDataModel.ssdl|res://*/Data.BaseDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=rutoteca;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
     </connectionStrings>
</configuration>